@{
    Layout = null;
}
<html>
    <head>
        <title>"Fiesta"</title>
    </head>
    <body>
        <h1>Te invito a mi fiesta</h1>
        Hace click <a asp-action="InvitacionForm">aca</a> para anotarte
    </body>
</html>